body{
    background-color: antiquewhite;
    height: 100px;
    width: 100px;
    font-size: 14px;


}
.container{
    width: 25px;
    height: 25px;
}
.bottle{
    height: 400px;
    width: 250px;
    margin-left:350px;
    padding: 200px;
   

}
.container1{
   height: 400px;
   width: 250px;
   display:grid;
   background-color:hsl(0, 0%, 100%);
   margin-top:175px;
   margin-left:800px;
   font-size:  14px;
}
p{
 color: darkgray;
 margin-right:30px;
 margin-left:40px;
 font-weight: 500px 700px; 
 font-style: "https://fonts.google.com/specimen/Fraunces"; 
 
}
h1{
    margin-left:20px;
    margin-right:80px; 
    font-style: "https://fonts.google.com/specimen/Montserrat"; 
}
.para{
    margin-left:20px;
    margin-right:45px; 
    color: darkgray;

}
h2 {
    font-size: larger;
    margin-left:20px;
    color: darkcyan;
   
    
}
h2 span.continue {
    font-size: 12px !important;
    color: gray !important;
  }

button{
    padding: 5px;
    border-radius:5px;
    margin-bottom:35px;
    margin-left:30px;
    margin-right:30px;
    background-color: hsl(158, 70%, 18%);
    color: white;

}
